@page "/"

@using Radzen
@using Radzen.Blazor
@using IKWYT.Data
@using Repository
@inject NavigationManager NavigationManager
@inject IQuizService QuizService


<div class="banner-content-area">
    <div class="row justify-content-center text-center">
        <div class="col-xs-12 col-sm-8">
            <h2>I Know What You Think</h2>
            <p>An educational and entertaining quiz app to test your understanding of the human psyche. These are not normal, boring fact questions. In this app you will find results from the most fascinating studies and experiments performed on humans (and animals) over the last 100 years. These questions will test if you really do understand how we, as humans, interact with our world.  It will make you think!</p>
            <div><RadzenButton Text="Expand my mind now !" Click="@OnExpandMyMind"></RadzenButton></div>
        </div>
    </div>
</div>
<br />
<h1 class="main-heading centered">Easiest quizzes</h1>
<br />
<RadzenGrid @ref="gridEasiest" AllowFiltering="false" AllowPaging="false" PageSize="12" AllowSorting="false" Data="@quizzesEasiest" TItem="QuizMetaData">
    <Columns>
        <RadzenGridColumn TItem="QuizMetaData" Property="ExternalReference" Title="Quiz" Width="20%">
            <Template Context="data">
                @{ var name = "/quiz/" + @data.ExternalReference;
                    <NavLink href="@name">@data.Title</NavLink>
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="QuizMetaData" Property="Difficulty" Title="Difficulty" Width="20%" />
        <RadzenGridColumn TItem="QuizMetaData" Property="Description" Title="Description">
            <Template Context="data">
                @{
                    <span style="white-space:normal">@data.Description</span>
                }
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
<br />
<h1 class="main-heading centered">Hardest quizzes</h1>
<br />
<RadzenGrid @ref="gridHardest" AllowFiltering="false" AllowPaging="false" PageSize="12" AllowSorting="false" Data="@quizzesHardest" TItem="QuizMetaData">
    <Columns>
        <RadzenGridColumn TItem="QuizMetaData" Property="ExternalReference" Title="Quiz" Width="20%">
            <Template Context="data">
                @{ var name = "/quiz/" + @data.ExternalReference;
                    <NavLink href="@name">@data.Title</NavLink>
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="QuizMetaData" Property="Difficulty" Title="Difficulty" Width="20%" />
        <RadzenGridColumn TItem="QuizMetaData" Property="Description" Title="Description">
            <Template Context="data">
                @{
                    <span style="white-space:normal">@data.Description</span>
                }
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
<br />
<h1 class="main-heading centered">Most popular quizzes</h1>
<br />
<RadzenGrid @ref="grid" AllowFiltering="false" AllowPaging="false" PageSize="12" AllowSorting="false" Data="@quizzes" TItem="QuizMetaData">
    <Columns>
        <RadzenGridColumn TItem="QuizMetaData" Property="ExternalReference" Title="Quiz" Width="20%">
            <Template Context="data">
                @{ var name = "/quiz/" + @data.ExternalReference;
                    <NavLink href="@name">@data.Title</NavLink>
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="QuizMetaData" Property="Difficulty" Title="Difficulty" Width="20%" />
        <RadzenGridColumn TItem="QuizMetaData" Property="Description" Title="Description">
            <Template Context="data">
                @{
                    <span style="white-space:normal">@data.Description</span>
                }
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
<br />
<br />
<div class="main-heading centered">
    <h1>Recommended</h1>
    <p>
        <h3><b>'Just wanted to thank you for this app. I love it.'</b></h3><br /> <i>Professor Dan Ariely, author of <a href="http://www.amazon.com/Predictably-Irrational-Revised-Expanded-Edition/dp/0061353248">Predictably Irrational</a></i>
    </p>
</div>

<br/>
<br />

@code {
    RadzenGrid<QuizMetaData> grid, gridEasiest, gridHardest;
    private List<QuizMetaData> quizzes, quizzesEasiest, quizzesHardest;

    public void OnExpandMyMind()
    {
        NavigationManager.NavigateTo("/warmup");
    }

    protected override void OnInitialized()
    {
        var allQuizzes = QuizService.GetQuizMetaData();

        // Most popular
        allQuizzes = allQuizzes.OrderByDescending(x => x.NumTimesPlayed).ToList();
        quizzes = new List<QuizMetaData>();
        quizzes.Add(allQuizzes[0]);
        quizzes.Add(allQuizzes[1]);
        quizzes.Add(allQuizzes[2]);

        // Easiest
        allQuizzes = allQuizzes.OrderByDescending(x => x.UnderlyingDifficulty).ToList();
        quizzesEasiest = new List<QuizMetaData>();
        quizzesEasiest.Add(allQuizzes[0]);
        quizzesEasiest.Add(allQuizzes[1]);
        quizzesEasiest.Add(allQuizzes[2]);

        // Hardest
        allQuizzes = allQuizzes.OrderBy(x => x.UnderlyingDifficulty).ToList();
        quizzesHardest = new List<QuizMetaData>();
        quizzesHardest.Add(allQuizzes[0]);
        quizzesHardest.Add(allQuizzes[1]);
        quizzesHardest.Add(allQuizzes[2]);
    }
}

