@page "/references/quiz/{quiz}/score/{score}"

@using IKWYT.Data
@using Repository
@using Radzen
@using Radzen.Blazor

@inject IQuizService QuizService
@inject NavigationManager NavigationManager

<h1><span class="material-icons">assessment</span>End of @QuizModel.Title</h1>

<br />
<b>Your score:</b> @Score out of @QuizModel.Questions.Count
<br />
<b>Average score:</b> @AverageScore
<br /><br />
            <b>Want to learn more?</b>  
@foreach (var reference in ReferenceList)
{
    <br />
    <a href="@reference.Url" target="_blank">@reference.Text</a>
}
<br />
<br />
<RadzenButton Text="More quizzes, please!" Click="@OnSubmit"></RadzenButton>



@code {
    [Parameter]
    public string Quiz { get; set; }
    [Parameter]
    public string Score { get; set; }

    public Repository.Quiz QuizModel { get; set; }
    public List<Reference> ReferenceList { get; set; }
    public string AverageScore { get; set; }

    protected override void OnInitialized()
    {
        Quiz = Quiz ?? "Oops, missing in action";
        QuizService.SaveScore(Quiz, int.Parse(Score));
        QuizModel = QuizService.GetQuiz(Quiz);
        ReferenceList = QuizModel.References;
        var averageScore = QuizService.GetAverageScore(Quiz);
        AverageScore = averageScore.ToString("0.##");
    }

    public void OnSubmit()
    {
        if (QuizModel.Category == "Psychology")
        {
            NavigationManager.NavigateTo("/Psychology");
            return;
        }
        if (QuizModel.Category == "Sociology"  || QuizModel.Category == "Demography")
        {
            NavigationManager.NavigateTo("/DemographyAndSociology");
            return;
        }
        if (QuizModel.Category == "Behavioral Economics")
        {
            NavigationManager.NavigateTo("/BehavioralEconomics");
            return;
        }
        if (QuizModel.Category == "Biology")
        {
            NavigationManager.NavigateTo("/Biology");
            return;
        }
        if (QuizModel.Category == "Experimental Philosophy")
        {
            NavigationManager.NavigateTo("/ExperimentalPhilosophy");
            return;
        }
        if (QuizModel.Category == "Mix")
        {
            NavigationManager.NavigateTo("/Mix");
            return;
        }
        if (QuizModel.Category == "Warmup")
        {
            NavigationManager.NavigateTo("/Warmup");
            return;
        }
        NavigationManager.NavigateTo("/quizzes");
    }
}
