@page "/Warmup"

@using IKWYT.Data
@using Repository
@using Toolbelt.Blazor.HeadElement
@inject IQuizService QuizService
@inject NavigationManager NavigationManager

<Title>IKWYT - Warmup</Title>

<h1><span class="material-icons">flash_on</span>   Warmup</h1>
<br />
<p>These quizzes are a great way to get started.  Learn from the greatest psychological experiments ever performed or ponder difficult philosophical questions.</p>

<br />
<RadzenGrid @ref="grid" AllowFiltering="false" AllowPaging="false" PageSize="12" AllowSorting="false" Data="@quizzes" TItem="QuizMetaData">
    <Columns>
        <RadzenGridColumn TItem="QuizMetaData" Property="ExternalReference" Title="Quiz" Width="20%">
            <Template Context="data">
                @{ var name = "/quiz/" + @data.ExternalReference;
                    <NavLink href="@name">@data.Title</NavLink>
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="QuizMetaData" Property="Category" Title="Category" Width="20%" />
        <RadzenGridColumn TItem="QuizMetaData" Property="Difficulty" Title="Difficulty" Width="20%" />
        <RadzenGridColumn TItem="QuizMetaData" Property="Description" Title="Description">
            <Template Context="data">
                @{
                    <span style="white-space:normal">@data.Description</span>
                }
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
<br />
<br />
<RadzenButton Text="Show me all quizzes!" Click="@OnSubmit"></RadzenButton>
<br />
<br />


@code {
    RadzenGrid<QuizMetaData> grid;
    private List<QuizMetaData> quizzes;

    protected override void OnInitialized()
    {
        var allQuizzes = QuizService.GetQuizMetaData();

        // Assessments
        quizzes = new List<QuizMetaData>();
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Coca Cola"));
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Easy Warmup"));
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Famous Experiments"));
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Pain Torture Death"));
    }

    public void OnSubmit()
    {
        NavigationManager.NavigateTo("/Quizzes");
    }
}
